@import url('https://fonts.googleapis.com/css?family=Iceland');
*{font-family: 'Iceland', cursive;}
html {overflow-y:scroll;} 
body { padding-top:50px; background:#000;width:100%;height:100%;}

.animate-show-hide.ng-hide {
	opacity: 0;
}

.animate-show-hide.ng-hide-add,
.animate-show-hide.ng-hide-remove {
	transition: all linear 1s;
}

@keyframes bgAnimate {
	0% {opacity:0.2;}
	50% {opacity:0.4;}
	100% {opacity:0.2;}
}
.center{position: absolute;left:50%;top:25%;}
.center div{position: relative; left: -50%;text-align: center;}
@keyframes dotAnimate {
	0% {
		opacity: .2;
	}
	20% {
		opacity: 1;
	}
	100% {
		opacity: .2;
	}
}
.loading {font-size: 3em;}
.loading span {
	animation-name: dotAnimate;
	animation-duration: 1.4s;
	animation-iteration-count: infinite;
	animation-fill-mode: both;
}

.loading span:nth-child(2) {
	animation-delay: .2s;
}

.loading span:nth-child(3) {
	animation-delay: .4s;
}
.hidden{display: none;}
.centerRow{
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	margin: auto;
}
#next{position: absolute;
	left:0;
	right:0;
	top:6em;
	bottom:0;
	margin: auto;
	width:10%;
	height: 2em;
	font-size: 2em;
	background: #000;
	border: 1px solid;
}
#next:hover{
	background:#00d8ff;
	color:#000;
}
p:empty{height:2.4em;}
p.typed{font-size:2.5em;line-height:2.5em;text-align: center;background:#000;height:2.5em;}
.bgWrapper{width:100%; height:100%;display:block; position:absolute;top:0;left:0;z-index:-1;}
.bgWrapper::after{
	content:"";
	background-image:url("/static/world.jpg");
	background-size:cover;
	opacity:0.4;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	position: absolute;
	z-index: -1; 
	animation-name: bgAnimate;
	animation-duration: 4s;
	animation-iteration-count: infinite;} 
	*    { color: #00d8ff} 
#todo-list { margin-bottom:30px; }
.green-border{border:1px solid #00d8ff;border-collapse: collapse;}
.light-border{
	border:1px solid #00d8ff;
	border-collapse: collapse;
}