<div ng-controller="newController">
<div class="center animate-show-hide" ng-hide="delayVal">
        <div>
            <img src="/static/center.gif"/><p class="loading">Loading<span>.</span><span>.</span><span>.</span></p>
            </div>
        </div>
    <div ng-show="delayVal2" class="bgWrapper animate-show-hide"></div>
    <div ng-show="delayVal3" class="animate-show-hide ">
            <p class="light-border typed centerRow"> </p>
        <button ng-show="showNext" id="next" class="animate-show-hide" ng-click="nextStep()">Next</button>
    </div>
</div>
</div>
