<div id="old" ng-controller="oldController">
    <img src="http://i.picasion.com/gl/85/7lxP.gif"/>
     <h1 ng-bind="message"></h1>
     <h2 style="color:blue">
     <span ng-if="tries > 5 && tries <= 10">At least you are trying</span>
     <span ng-if="tries > 10 && tries <= 20">Trying so hard</span>
     <span ng-if="tries > 20 && tries <= 50">Really?</span>
     <span ng-if="tries > 50 ">Just type password.....</span>
     </h2>
    <form ng-submit="submitPassword()" >
    <table border="1" style="width:50%;padding:10;border: 1px solid blue;">
    <tr>
    <td> <input type="password" id="pass" ng-model="password" /></td>
    </tr>
    <tr>
        <td><button type="submit" ng-model="password"><img src="http://i.picasion.com/gl/85/7lxQ.gif"/></button></td>
    </tr>
    </table>
    </form>

</div>
